@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white dark:bg-dark dark:bg-opacity-50 bg-opacity-70 backdrop:blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.nav-anim {
  animation-duration: 1s;
  --animate-delay: 0.6s;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-black dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.home-text h1 {
  --animate-delay: 0.6s;
}
.home-text h2 {
  --animate-delay: 1s;
}
.home-text p {
  --animate-delay: 1s;
}
.home-text a {
  --animate-delay: 1.4s;
}

.progressBarContainer {
  width: 50%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  width: 0;  /* Initially, the progress bar is empty */
  background-color: #2196F3;  /* Color of the filled progress */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left */
  animation: fillBar 5s forwards; /* Animation to fill the bar */
}

@keyframes fillBar {
  to { width: 100%; }
}
